name: build
on:
  pull_request:
  push:
    branches:
      - '**'
    tags:
      - 'v*'

env:
  build-number: ${GITHUB_RUN_NUMBER}

jobs:
  build:
    strategy:
      matrix:
        java: [
          21,
        ]
        os: [ubuntu-22.04, windows-2022]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Validate Gradle
        uses: gradle/wrapper-validation-action@v1
      - name: Setup JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'microsoft'

      - name: Make Gradle Executable
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew
      - name: Build
        run: ./gradlew build
      - name: capture build artifacts
        if: ${{ runner.os == 'Linux' && matrix.java == '21' }}
        uses: actions/upload-artifact@v3
        with:
          name: Artifacts
          path: build/libs/*.jar
          retention-days: 1

      # Create GitHub Release when version tag is pushed
      - name: Create Release
        if: ${{ startsWith(github.ref, 'refs/tags/v') && runner.os == 'Linux' && matrix.java == '21' }}
        uses: softprops/action-gh-release@v1
        with:
          files: staging/*.jar
          name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}